{% extends "base.html" %}
{% block title %}
    Get Quote
{% endblock %}
{% block content%}
    
<!DOCTYPE html>
<html>
    <head>
        <link rel = "icon" href = "../static/images/icon.png" type = "image/x-icon">  
        <link rel="stylesheet" type="text/css" href="../static/styles/styling.css">   
    </head>
    <body> 
        <center><h1 style="color: rgb(202, 11, 11); font-family: Yeseva One;">Fuel Quote Form</h1></center>
        <div class="container">  
        <form>
            <label>
                Gallons Requested:
                <br>
                <input type="text" name="gallonsRequested" value = "REQUIRED" required/>

            </label>
            <br>
            <br>
            <label>
                Delivery Address:
                <br>
                <input type="text" name="deliveryAddress" value = "(userAddress)" readonly/>
            </label>
            <br>
            <br>
            <label>
                Delivery Date:
                <br>
                <input type="date" name="deliveryDate"/>

            </label>
            <br>
            <br>
            <label>
                Suggested Price Per Gallon:
                <br>
                <input type="text" name="pricePerGallon" value="(calculatedPrice)" readonly/>
   
            </label>
            <br>
            <br>
            <label>
                Total Amount Due:
                <br>
                <input type="text" name="totalDue" value="(gallons * pricePerGallon)" readonly/>

            </label>
            <center><button type="submit">SUBMIT</button></center>
        </form>
        </div>
        </body>
</html>
{% endblock %}
