{% extends "base.html" %}
{% block title %}
    Fuel History
{% endblock %}
{% block content%}
<!DOCTYPE html>
<html>
    <head>
        <link rel = "icon" href = "../static/images/icon.png" type = "image/x-icon">  
        <link rel="stylesheet" type="text/css" href="../static/styles/styling.css">   
    </head>
    <body> 

        <center><h1 style="color: rgb(202, 11, 11); font-family: Yeseva One;">Fuel Quote History</h1></center>
        {% if quotes %}
        <center>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Gallons Requested</th>
              <th>Delivery Address</th>
              <th>Price per Gallon</th>
              <th>Total Amount Due</th>
            </tr>
          </thead>
          <tbody>
            {% for quote in quotes %}
              <tr>
                <td>{{ quote.date }}</td>
                <td>{{ quote.gallons_requested }}</td>
                <td>{{ quote.delivery_address }}</td>
                <td>{{ quote.suggest_price }}</td>
                <td>{{ quote.total_price }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </center>
        </table>
      {% else %}
        <p>{{user.user_quote}}</p>
      {% endif %}



{% endblock %}